.header {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  margin: 16px 0 32px;
}

.header__actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  align-items: center;
}

.header__title {
  cursor: pointer;
}
